<%= form_for @user, :url => url_for(controller: 'sessions', action: 'create')  do |t|%>
  <p>
    <%= t.label :username %>
    <%= t.text_field :username %>
  </p>
  <p>
    <%= t.label :password %>
    <%= t.password_field :password %>
  </p>
  <%= t.submit "Finish" %>
<% end %>

<%= link_to('sign in with GitHub!', '/auth/github') %>