<%= form_for @restaurant do |t| %>
  <p>
    <%= t.label :name %>
    <%= t.text_field :name %>
  </p>
  <p>
    <%= collection_check_boxes(:restaurant , :food_type_ids ,FoodType.all, :id, :name) %>
  </p>

  <%= t.submit "Add Restaurant"%>

<% end %>