<h1><%= @restaurant.name %></h1>

<h3><%= link_to "Food Styles", new_food_type_path(:restaurant_id => @restaurant.id) %></h3>
<ul>
  <% @restaurant.food_types.each do |ft| %>
    <li><%= ft.name %></li>
  <% end%>
</ul>
<%= link_to "Write a Review of #{@restaurant.name }", new_user_review_path(current_user.id, :restaurant_id => @restaurant.id) %>

<% @restaurant.reviews.each do |review| %>
  <h3><%= review.title %></h3>
  <b><%= review.rating %></b>
  <p><%= review.content %></p>
  <%= render partial: "reviews/edit_delete", locals: {review: review}  %>
<% end %>