<h1><%= @restaurant.name %> - <%=  @restaurant.average_rating %></h1>

<h3><%= link_to "Food Styles", new_food_type_path(:restaurant_id => @restaurant.id) %></h3>
<ul>
  <% @restaurant.food_types.each do |ft| %>
    <li><%= link_to ft.name, destroy_rf_path(:food_type_id => ft.id ,:restaurant_id => @restaurant.id), method: "destroy"%></li>
  <% end%>
</ul>

<% if logged_in? %>
  <%= link_to "Write a Review of #{@restaurant.name }", new_user_review_path(current_user.id, :restaurant_id => @restaurant.id) %>
<% end %>

<% @restaurant.reviews.each do |review| %>
  <h3><%= review.title %></h3>
  <b><%= review.rating %></b>
  <p><%= review.content %></p>
  <%= render partial: "reviews/edit_delete", locals: {review: review}  %>
<% end %>