<h1><%= @restaurant.name %></h1>
<%= link_to "Write a Review of #{@restaurant.name }", new_user_review_path(current_user.id, :restaurant_id => @restaurant.id) %>
<!-- put all this resaurants reviews here -->

<% @restaurant.reviews.each do |review| %>
  <h3><%= review.title %></h3>
  <b><%= review.rating %></b>
  <p><%= review.content %></p>
<% end %>