<h1>Review</h1>

<%= form_for @review do |t| %>
  <p>
    <%= t.label :title %>
    <%= t.text_field :title %>
  </p>
  <%= f.hidden_field :user_id %>
  <p>
    <%= t.label :rating %>
    <%= t.range_field :rating , :in => 0..5, :step => '1'%>
  </p>
  <p>
    <%= t.text_area :content %>
  </p>
  <%= t.submit "Finish" %>
<% end %>